root = true

[*.nim]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = false

[*.sh]
indent_style = space
indent_size = 2

[Makefile]
ident_size = 2
ident_style = tab