# beacon_chain
# Copyright (c) 2018-2023 Status Research & Development GmbH
# Licensed and distributed under either of
#   * MIT license (license terms in the root directory or at http://opensource.org/licenses/MIT).
#   * Apache v2 license (license terms in the root directory or at http://www.apache.org/licenses/LICENSE-2.0).
# at your option. This file may not be copied, modified, or distributed except according to those terms.

nimcache/

# Executables shall be put in an ignored build/ directory
build/

# Nimble packages
/vendor/.nimble

# ntags/ctags output
/tags

# vscode
.vscode

# Each developer can create a personal .env file with
# local settings overrides (e.g. WEB3_URL)
.env
.direnv/

# Ignore dynamic, static libs and libtool archive files
*.so
*.dylib
*.a
*.la
*.exe
*.dll
*.su

/scripts/testnet*.sh
/scripts/package_image/usr/bin

# State sim # TODO - move in another folder
0000-*.json
*.ssz
*.log
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

/local-testnet-*/
/local_testnet_data*/
/local_testnet*_data*/

test_keymanager_api
test_sim

/*linkerArgs.txt

# scripts/geth_binaries.sh
geth-*.tar.gz
geth-*.zip

# Prometheus db
/data
# Grafana dashboards
/docker/*.json

# generated during Nim compilation
*.nim.generated.nim

/dist
/benchmark_results
/.update.timestamp
resttest0_data

# macOS
.DS_Store
**/.DS_Store

# Nimble user files
nimble.develop
nimble.paths

# nimbus-build-system files
nimbus-build-system.paths
