nimcache/

# Executables shall be put in an ignored build/ directory
build/

# Nimble packages
/vendor/.nimble

# ntags/ctags output
/tags

# Ignore dynamic, static libs and libtool archive files
*.so
*.dylib
*.a
*.la
*.exe
*.dll

# a symlink that can't be added to the repo because of Windows
/beacon_chain.nims

/scripts/testnet*.sh

# State sim # TODO - move in another folder
0000-*.json
*.ssz
*.log
*.sqlite3

/local_testnet_data*/
