@if release:
  nimcache = "nimcache/release/$projectName"
@else:
  nimcache = "nimcache/debug/$projectName"
@end

@if windows:
  # disable timestamps in Windows PE headers - https://wiki.debian.org/ReproducibleBuilds/TimestampsInPEBinaries
  --passL:"-Wl,--no-insert-timestamp"
  # increase stack size
  --passL:"-Wl,--stack,8388608"
  # https://github.com/nim-lang/Nim/issues/4057
  --tlsEmulation:off

  # The dynamic Chronicles output currently prevents us from using colors on Windows
  # because these require direct manipulations of the stdout File object.
  -d:"chronicles_colors=off"
@end

--threads:on
--opt:speed
--excessiveStackTrace:on
-d:metrics # enable metric collection

