[Unit]
Description=Nimbus
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/nimbus.env
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nimbus
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=nimbus
WorkingDirectory=/var/lib/nimbus
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/nimbus_launch

[Install]
WantedBy=multi-user.target
