[Unit]
Description=Nimbus
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nimbus
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=nimbus
WorkingDirectory=/var/lib/nimbus
TimeoutSec=1200
Restart=always
ExecStart=/bin/bash -c '/usr/bin/nimbus_beacon_node --network=${NETWORK} --data-dir=${DATA_DIR_PREFIX}/shared_${NETWORK}_${NODE_ID} --log-file=${DATA_DIR_PREFIX}/shared_${NETWORK}_${NODE_ID}/nbc_bn_$$(date +%%Y%%m%%d%%H%%M%%S).log --tcp-port=${TCP_PORT} --udp-port=${UDP_PORT} --rpc --rpc-port=${RPC_PORT} --web3-url=${WEB3_URL}'

Environment=NODE_ID=0
Environment=DATA_DIR_PREFIX=/var/lib/nimbus/
Environment=TCP_PORT=9000
Environment=UDP_PORT=9001
Environment=RPC_PORT=9190
