[Unit]
Description=Nimbus
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=nimbus
WorkingDirectory=/var/lib/nimbus
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/nimbus_beacon_node --network=${NETWORK} --data-dir="${DATA_DIR_PREFIX}/shared_${NETWORK}_${NODE_ID}" --tcp-port=${TCP_PORT} --udp-port=${UDP_PORT} --rpc --rpc-port=${RPC_PORT} --web3-url=${WEB3_URL}

Environment=NODE_ID=0
Environment=DATA_DIR_PREFIX=/var/lib/nimbus
Environment=TCP_PORT=9000
Environment=UDP_PORT=9001
Environment=RPC_PORT=9190
