<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Property
                Id="NETWORK"
                Secure="yes"
                Value="mainnet" />
        <Property
                Id="WURL"
                Secure="yes" />
        <Property
                Id="STARTAFTERINSTALL"
                Secure="yes"
                Value="0" />
        <UI>
            <Dialog
                    Width="370"
                    Height="270"
                    Id="ConfigDlg">
                <Control
                        Type="ComboBox"
                        Id="NetworkList"
                        Property="NETWORK"
                        Width="250"
                        Height="16"
                        X="60"
                        Y="50"
                        ComboList="yes">
                    <ComboBox Property="NETWORK">
                        <ListItem
                                Text="Main Net"
                                Value="mainnet" />
                        <ListItem
                                Text="Prater"
                                Value="prater" />
                        <ListItem
                                Text="Pyrmont"
                                Value="pyrmont" />
                    </ComboBox>
                </Control>
                <Control
                        Type="Text"
                        Id="DescriptionNetworkList"
                        Width="244"
                        Height="14"
                        X="64"
                        Y="26">
                    <Text>Choose the network which Nimbus Beacon Node will connect to:</Text>
                </Control>
                <Control
                        Type="Edit"
                        Id="WEB3"
                        Property="WURL"
                        Width="248"
                        Height="15"
                        X="60"
                        Y="94" />
                <Control
                        Type="Text"
                        Id="DescriptionWeb3"
                        Width="283"
                        Height="109"
                        X="44"
                        Y="124">
                    <Text>To monitor the Eth1 validator deposit contract, you'll need to pair
the Nimbus beacon node with a Web3 provider capable of serving Eth1
event logs. This could be a locally running Eth1 client such as Geth
or a cloud service such as Infura. For more information please see
our setup guides:

https://status-im.github.io/nimbus-eth2/eth1.html</Text>
                </Control>
                <Control
                        Type="Text"
                        Id="TitleWeb3"
                        Width="240"
                        Height="12"
                        X="64"
                        Y="75">
                    <Text>Please enter a Web3 provider URL:</Text>
                </Control>
                <Control
                        Id="Next"
                        Type="PushButton"
                        X="236"
                        Y="243"
                        Width="56"
                        Height="17"
                        Default="yes"
                        Text="!(loc.WixUINext)" />
                <Control
                        Id="Back"
                        Type="PushButton"
                        X="180"
                        Y="243"
                        Width="56"
                        Height="17"
                        Text="!(loc.WixUIBack)" />
                <Control
                        Id="Cancel"
                        Type="PushButton"
                        X="304"
                        Y="243"
                        Width="56"
                        Height="17"
                        Cancel="yes"
                        Text="!(loc.WixUICancel)">
                    <Publish
                            Event="SpawnDialog"
                            Value="CancelDlg">1</Publish>
                </Control>
                <Control
                        Type="CheckBox"
                        Id="StartAfterInstall"
                        Property="STARTAFTERINSTALL"
                        Width="236"
                        Height="17"
                        X="45"
                        Y="206"
                        CheckBoxValue="1">
                    <Text>Start the Nimbus Beacon Node once the setup is complete</Text>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
