<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>nimbus</string>
	<key>Label</key>
	<string>Nimbus</string>
	<key>ServiceDescription</key>
	<string>Nimbus Beacon Node</string>
	<key>Program</key>
	<string>/Library/Scripts/Nimbus/launchservice.sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Scripts/Nimbus/launchservice.sh</string>
	</array>
	<key>StandardOutPath</key>
	<string>/tmp/nimbus.stdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/nimbus.stderr</string>
</dict>
</plist>
