name: Nimbus nim-beacon-chain CI
on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        target:
          - os: linux
            cpu: amd64
            TEST_KIND: unit-tests
          - os: linux
            cpu: i386
            TEST_KIND: unit-tests
          - os: macos
            cpu: amd64
            TEST_KIND: unit-tests
          - os: windows
            cpu: amd64
            TEST_KIND: unit-tests
          - os: windows
            cpu: i386
            TEST_KIND: unit-tests

          - os: linux
            cpu: amd64
            TEST_KIND: finalization
          - os: linux
            cpu: i386
            TEST_KIND: finalization
          - os: macos
            cpu: amd64
            TEST_KIND: finalization
          - os: windows
            cpu: amd64
            TEST_KIND: finalization
          - os: windows
            cpu: i386
            TEST_KIND: finalization
        include:
          - target:
              os: linux
            builder: ubuntu-18.04
          - target:
              os: macos
            builder: macos-10.15
          - target:
              os: windows
            builder: windows-2019
    name: '${{ matrix.target.os }}-${{ matrix.target.cpu }} (${{ matrix.target.TEST_KIND }})'
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Cancel if outdated commit
        uses: technote-space/auto-cancel-redundant-job@v1
      - name: Checkout nim-beacon-chain
        uses: actions/checkout@v2
        with:
          path: nim-beacon-chain
      - name: Derive environment variables
        shell: bash
        run: |
          if [[ '${{ matrix.target.cpu }}' == 'amd64' ]]; then
            ARCH=64
            PLATFORM=x64
          else
            ARCH=32
            PLATFORM=x86
          fi
          echo "::set-env name=ARCH::$ARCH"
          echo "::set-env name=PLATFORM::$PLATFORM"

      - name: Install build dependencies (Linux i386)
        if: runner.os == 'Linux' && matrix.target.cpu == 'i386'
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-fast update -qq
          sudo DEBIAN_FRONTEND='noninteractive' apt-fast install \
            --no-install-recommends -yq gcc-multilib g++-multilib \
            libssl-dev:i386 libpcre3-dev:i386
          mkdir -p external/bin
          cat << EOF > external/bin/gcc
          #!/bin/bash
          exec $(which gcc) -m32 "\$@"
          EOF
          cat << EOF > external/bin/g++
          #!/bin/bash
          exec $(which g++) -m32 "\$@"
          EOF
          chmod 755 external/bin/gcc external/bin/g++
          echo '::add-path::${{ github.workspace }}/external/bin'

      - name: Restore build dependencies (Windows) from cache
        if: runner.os == 'Windows'
        id: windows-tools-cache
        uses: actions/cache@v1
        with:
          path: /external/mingw$ARCH
          key: 'mingw-x86-$ARCH'

      - name: Install build dependencies (Windows)
        if: >
          steps.windows-tools-cache.outputs.cache-hit != 'true' &&
          runner.os == 'Windows'
        shell: bash
        run: |
          curl -L "https://nim-lang.org/download/mingw$ARCH-6.3.0.7z" -o "external/mingw$ARCH.7z"
          7z x "external/mingw$ARCH.7z" -oexternal/
          echo '::add-path::${{ github.workspace }}'"/external/mingw$ARCH/bin"

          # curl -L "https://nim-lang.org/download/windeps.zip" -o external/windeps.zip
          # 7z x external/windeps.zip -oexternal/dlls
          # echo '::add-path::${{ github.workspace }}'"/external/dlls"

      - name: Get latest nimbus-build-system commit hash
        id: versions
        shell: bash
        run: |
          getHash() {
            git ls-remote "https://github.com/$1" "${2:-HEAD}" | cut -f 1
          }
          # nimHash=$(getHash nim-lang/Nim '${{ matrix.branch }}')
          # csourcesHash=$(getHash nim-lang/csources)
          # echo "::set-output name=nim::$nimHash"
          # echo "::set-output name=csources::$csourcesHash"
          nbsHash=$(getHash status-im/nimbus-build-system)
          echo "::set-output name=nimbus_build_system::$nbsHash"

      - name: Cancel if outdated commit
        uses: technote-space/auto-cancel-redundant-job@v1

      - name: Restore prebuilt Nim binaries from cache
        id: nim-cache
        uses: actions/cache@v1
        with:
          path: nim-beacon-chain/NimBinaries
          key: 'nim-${{ matrix.target.os }}-${{ matrix.target.cpu }}-${{ steps.versions.outputs.nimbus_build_system }}'

      - name: Build Nim and associated tools
        if: steps.nim-cache.outputs.cache-hit != 'true'
        shell: bash
        working-directory: nim-beacon-chain
        run: |
          ncpu=
          ext=
          case '${{ runner.os }}' in
          'Linux')
            ncpu=$(nproc)
            ;;
          'macOS')
            ncpu=$(sysctl -n hw.ncpu)
            ;;
          'Windows')
            ncpu=$NUMBER_OF_PROCESSORS
            ext=.exe
            ;;
          esac
          [[ -z "$ncpu" || $ncpu -le 0 ]] && ncpu=1
          echo "::set-output name=ncpu::$ncpu"

          make -j$ncpu ARCH_OVERRIDE='$PLATFORM' CI_CACHE=NimBinaries V=1 update
          if [[ '${{ runner.os }}' == 'Windows' ]]; then
            make -j$ncpu ARCH_OVERRIDE='$PLATFORM' fetch-dlls
          fi

      - name: Cancel if outdated commit
        uses: technote-space/auto-cancel-redundant-job@v1

      - name: Smoke test the Beacon Node and Validator Client with all tracing enabled
        shell: bash
        working-directory: nim-beacon-chain
        run: |
          make -j$ncpu ARCH_OVERRIDE='$PLATFORM' LOG_LEVEL=TRACE NIMFLAGS="-d:testnet_servers_image" beacon_node
          make -j$ncpu ARCH_OVERRIDE='$PLATFORM' LOG_LEVEL=TRACE NIMFLAGS="-d:testnet_servers_image" validator_client

      - name: Cancel if outdated commit
        uses: technote-space/auto-cancel-redundant-job@v1

      - name: Get latest fixtures commit hash
        if: matrix.target.TEST_KIND == 'unit-tests'
        id: fixtures_version
        shell: bash
        run: |
          getHash() {
            git ls-remote "https://github.com/$1" "${2:-HEAD}" | cut -f 1
          }
          fixturesHash=$(getHash status-im/nim-eth2-scenarios)
          echo "::set-output name=fixtures::$fixturesHash"

      - name: Restore Ethereum Foundation fixtures from cache
        if: matrix.target.TEST_KIND == 'unit-tests'
        id: fixtures-cache
        uses: actions/cache@v1
        with:
          path: fixturesCache
          key: 'scenarios-${{ steps.fixtures_version.outputs.fixtures }}'

      - name: Get the Ethereum Foundation fixtures
        if: >
          matrix.target.TEST_KIND == 'unit-tests' &&
          steps.fixtures-cache.outputs.cache-hit != 'true'
        shell: bash
        working-directory: nim-beacon-chain
        run: |
          scripts/setup_official_tests.sh fixturesCache

      - name: Run nim-beacon-chain tests
        if: matrix.target.TEST_KIND == 'unit-tests'
        shell: bash
        working-directory: nim-beacon-chain
        run: |
          make -j$ncpu ARCH_OVERRIDE='$PLATFORM' DISABLE_TEST_FIXTURES_SCRIPT=1 test

      - name: Run nim-beacon-chain testnet1 (mainnet)
        if: matrix.target.TEST_KIND == 'finalization'
        shell: bash
        working-directory: nim-beacon-chain
        run: |
          sh """#!/bin/bash
          set -e
          ./scripts/launch_local_testnet.sh --testnet 1 --nodes 4 --stop-at-epoch 5 --log-level DEBUG --disable-htop --enable-logtrace --data-dir local_testnet0_data --base-port \$(( 9000 + EXECUTOR_NUMBER * 100 )) --base-rpc-port \$(( 7000 + EXECUTOR_NUMBER * 100 )) --base-metrics-port \$(( 8008 + EXECUTOR_NUMBER * 100 )) -- --verify-finalization --discv5:no
          """
